<div class="back">
    <nav>
      <a href="/dashboard">Inicio</a>
      <a href="/opcionEmpleo">Opciones De Empleo</a>
      <a href="/perfil">Perfil</a>
      <a href="/login">Salir</a>
    </nav>
    <br><br><br><br><br><br>

    <div id="perfil-container">

        <div id="info-section">
          <img src="assets/img/Usuario.png" alt="Mi Foto de Perfil" width="250px" height="250px">
          <h2>Arley Beltran</h2>
          <p>Correo electrónico: Arleybeltran17-gmail.com</p>
          <p>Ubicación: Bogota, Colombia</p>
        </div>
    
        <div id="edit-section">
          <h2>Editar Perfil</h2>
          <form>
            <div class="inputbox">
                <label for="nombre">Nombre:</label>
                <input type="text" id="nombre" name="nombre" value="Nombre Apellido">
                <br><br>
                <label for="correo">Correo electrónico:</label>
                <input type="email" id="correo" name="correo" value="correo@example.com">
                <br><br>
                <label for="ubicacion">Ubicación:</label>
                <input type="text" id="ubicacion" name="ubicacion" value="Ciudad, País">
            </div>
            <!-- Otros campos de edición -->
            <br>
            <div class="button_slide slide_right">Guardar Cambios</div>
          </form>
        </div>
    
      </div>
</div>