<div class="back">
    <nav>
        <a href="/dashboard">Inicio</a>
        <a href="/opcionEmpleo">Opciones De Empleo</a>
        <a href="/perfil">Perfil</a>
        <a href="/login">Salir</a>
    </nav>
    <br><br><br><br>
    <h1>Bienvenido A La Consulta De Empleos</h1>
    <br>
    <div class="container">
        
        <div class="card">
          <h2>Opcion De Empleo 1</h2>
          <p>Nombre: Empleado Teleperformance</p>
          <p>Descripcion: Se Busca Empleado Para CallCenter</p>
          <div class="button_slide slide_right">Ver Mas</div>
        </div>
    
        <div class="card">
            <h2>Opcion De Empleo 2</h2>
            <p>Nombre: Empleado Claro</p>
            <p>Descripcion: Se Busca Empleado Administracion</p>
            <div class="button_slide slide_right">Ver Mas</div>
        </div>
    
        <div class="card">
            <h2>Opcion De Empleo 3</h2>
            <p>Nombre: Empleado Exito</p>
            <p>Descripcion: Se Busca Empleado Para Cajero</p>
            <div class="button_slide slide_right">Ver Mas</div>
        </div>
      </div>
    
</div>