<div class="back">
<nav>
  <a href="/dashboard">Inicio</a>
  <a href="/opcionEmpleo">Opciones De Empleo</a>
  <a href="/perfil">Perfil</a>
  <a href="/login">Salir</a>
</nav>
<br><br><br><br>
<h1>Bienvenido Al Inicio</h1>
<br>
<!-- Unsplash copyright -->

  <div class="container2">
    <div class="card">
      <img src="assets/img/TP.png" width="250px" height="150px">
    </div>

    <div class="card">
      <img src="assets/img/Movistar.png" width="250px" height="150px">
    </div>

    <div class="card">
      <img src="assets/img/Colombina.png" width="250px" height="150px">
    </div>

    <div class="card">
      <img src="assets/img/Exito.png" width="150px" height="150px">
    </div>
  
  </div>
</div>
